torch 
torchvision 
torchaudio 
nltk
jsonlines
tensorboardX
tensorboard
rouge_score
accelerate
datasets==2.3.2
transformers==4.17.0
adapter-transformers==3.0.1
pytorch_lightning
evaluate
scikit-learn
seqeval
dill ==0.3.4
multiprocess==0.70.12.2